<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friends Connector</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css">
    <!-- GOOGLEFONTS -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script src="/main.js"></script>
</head>

<body onload="populateUsers(<%- user.id %>)">
    <h1>Friends Connector</h1>
    <div class="line"></div>

    <div class="show-friends">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="user-friends">
                        <h2>
                            <%= user.firstName %>
                                <%= user.surname %>
                        </h2>
                        <img src="https://cdn1.iconfinder.com/data/icons/avatar-3/512/Manager-512.png" alt="">

                        <p><strong>Age:</strong> <%= user.age %></p>

                        <p><strong>Gender:</strong> <%= user.gender %></p>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="direct-friends">
                                    <h3>Direct Friends</h3>

                                    <div id="direct-friends"></div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="friends-of-friends">
                                    <h3>Friends Of Friends</h3>

                                    <div id="friends-of-friends"></div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="suggested-firends">
                                    <h3>Suggested Friends</h3>

                                    <div id="suggested-friends"></div>

                                </div>
                            </div>
                            <a id="back-to-users" href="/users">Back To Users</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>